<style>

  #intro, #carousel {
    background-attachment:   fixed;
    width:                   100%;
    height:                  100vh;
    position:                relative;
    box-shadow:              inset 0px 10px 10px rgba(0,0,0,0.3);
  }
  #intro  {
    background:              linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                             url("<%= asset_path(randomized_background_image) %>")
                             no-repeat
                             top
                             center;
    -webkit-background-size: cover;
    -moz-background-size:    cover;
    -o-background-size:      cover;
    background-size:         cover;
    max-width:               100%;
  }

  #carousel  {
    background:              linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                             url("#{asset_path(randomized_background_image)}")
                             no-repeat
                             top
                             center;
    -webkit-background-size: cover;
    -moz-background-size:    cover;
    -o-background-size:      cover;
    background-size:         cover;
    max-width:               100%;
  }


</style>

<%= render 'navbar' %>

<div class="slide" data-slide="1" data-stellar-background-ratio="0.5" id="slide1">
  <!--Section: intro
  -->
  <!-- <div id="preloader">
    <div id="load"></div>
  </div> -->
  <section class="intro" id="intro">
    <div class="container">
      <div class="brand-heading element">Pickle Jar</div>
      <div class="slogan">SAVE IT NOW, COOK IT LATER.</div>
      <div class="page-scroll">
        <a class="btn btn-circle" data-slide="2">
          <%= icon('angle-double-down', class: 'animated') %>
        </a>
      </div>
    </div>










    <!-- <div class="slogan">

      <h4>Join the waiting list for the beta. We keep you posted.</h4>
      <div class="center-form-div">
        <form accept-charset="UTF-8" action="/waitinglist" data-remote="true" id="waiting_list_form" method="post">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token() %>"></input>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input class="form-control" id="email" name="waiting_list_user_form[email]" placeholder="Your email here..." required="required" type="text">/</input>
              </div>
            </div>
            <div class="col-md-12">
              <button class="btn btn-signup" type="submit">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
      <h4 id="waiting_list_success">Thank you for your interest! We will keep you notified on progress!</h4>
      <h4 id="waiting_list_error">That email is already signed up. Please check your email address and try again.</h4>
    </div>
     -->

  </section>
</div>


<!--
<div class="slide" data-slide="2" data-stellar-background-ratio="0.5" id="slide2">
  <section class="home-section text-center" id="contact">
    <div class="container">
      <div class="row marketing">
        <div class="col-lg-4">
          <%= image_tag "website_logos.png", :class => "img-responsive" %>
          <br/>
          <h3>Find a recipe.</h3>
          <p>Pickle Jar is compatible with any website that has a recipe including some of the largest recipe sites today such as allrecipes.com, epicurious.com, and foodnetwork.com.</p>
        </div>
        <div class="col-lg-4">
          <h3>Save the recipe with just one click.</h3>
          <p>Using a Pickle Jar browser extension or a personalized bookmarklet generated just for you, with on click you are able to save the recipe to Pickle Jar.</p>
          <%= image_tag "add_to_picklejar.png", :class => "img-responsive" %>
        </div>
        <div class="col-lg-4">
          <%= image_tag "devices.png", :class => "img-responsive" %>
          <br/>
          <h3>View and cook - anytime, anywhere.</h3>
          <p>From getpicklejar.com or the mobile Pickle Jar app, you will be able to view any of your saved recipes whenever you want, wherever you are. You can search by name, ingredients, website, and many other options.</p>
        </div>
      </div>
    </div>
  </section>
</div>




<div class="slide" data-slide="3" data-stellar-background-ratio="0.5" id="slide3">
  <section id="carousel">
    <div class="carousel slide" id="faq-carousel">
      <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#faq-carousel"></li>
        <li data-slide-to="1" data-target="#faq-carousel"></li>
        <li data-slide-to="2" data-target="#faq-carousel"></li>
        <li data-slide-to="3" data-target="#faq-carousel"></li>
        <li data-slide-to="4" data-target="#faq-carousel"></li>
        <li data-slide-to="5" data-target="#faq-carousel"></li>
        <li data-slide-to="6" data-target="#faq-carousel"></li>
        <li data-slide-to="7" data-target="#faq-carousel"></li>
        <li data-slide-to="8" data-target="#faq-carousel"></li>
        <li data-slide-to="9" data-target="#faq-carousel"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active picklejarGreen">
          <div class="carousel-caption">
            <h2>Why should I use Pickle Jar?</h2>
            <h4>Most recipe and food websites provide the option to save recipes directly on the site to some sort of recipe box. Pickle Jar eliminates having recipes bookmarked and saved all over the internet at various sites and centralizes the location of all them. You can then access these recipes either from the website directly or via the mobile app for your smartphone or tablet.</h4>
          </div>
        </div>
        <div class="item darkerPicklejarGreen">
          <div class="carousel-caption">
            <h2>Will Pickle Jar work with any recipe site?</h2>
            <h4>Yes. In fact, Pickle Jar technically can be used to save any website you are currently browsing to your Pickle Jar.</h4>
          </div>
        </div>
        <div class="item darkestPicklejarGreen">
          <div class="carousel-caption">
            <h2>How does it work?</h2>
            <h4>You simply create an account here at getpicklejar.com. Once you create an account, you will be provided with the option to save a bookmarklet into your bookmarks bar or to install a browser extension. Then, when you are viewing a website with a recipe you would like to save, you would click the bookmarklet or extension button. This will trigger Pickle Jar to start up and save the link you are at to your Pickle Jar. For now, just the URL is being saved and when you browse your recipes, you will be taken back to the source site.</h4>
          </div>
        </div>
        <div class="item picklejarGreen">
          <div class="carousel-caption">
            <h2>Wait, what is a bookmarklet?</h2>
            <h4>A bookmarklet is just a small piece of Javascript code that will run when you click it. This is how it will save to your Pickle Jar. You don't need to have any understanding of Javascript or even know what Javascript is to fully enjoy Pickle Jar.</h4>
          </div>
        </div>
        <div class="item darkerPicklejarGreen">
          <div class="carousel-caption">
            <h2>And what is a browser extension?</h2>
            <h4>A browser extension is a small program you install within your browser to extend its functionality. When you install the Pickle Jar browser extension, you will end up with a Pickle Jar button in your browser that you would click to save the recipe.</h4>
          </div>
        </div>
        <div class="item darkestPicklejarGreen">
          <div class="carousel-caption">
            <h2>How many recipes can I store?</h2>
            <h4>There is no limit to how many recipes you can store.</h4>
          </div>
        </div>
        <div class="item picklejarGreen">
          <div class="carousel-caption">
            <h2>How long are my recipes saved for if I do not log in on a regular basis?</h2>
            <h4>As of now, recipes will never be deleted or removed. If that is to change in the future, you will be given adequate warning and have a chance to export your saved recipes.</h4>
          </div>
        </div>
        <div class="item darkerPicklejarGreen">
          <div class="carousel-caption">
            <h2>Will I be able to sort my recipes?</h2>
            <h4>You will be able to sort by recipe name, the date the recipe was saved, and the website the recipe comes from. You will also be able to search across all recipes.</h4>
          </div>
        </div>
        <div class="item darkestPicklejarGreen">
          <div class="carousel-caption">
            <h2>Will I be able to categorize my recipes?</h2>
            <h4>Initially, no. One of the first planned enhancements is the ability to tag and categorize recipes when saving them and when viewing them. You will also be able to sort and search on these tags.</h4>
          </div>
        </div>
        <div class="item picklejarGreen">
          <div class="carousel-caption">
            <h2>What other sorts of features do you have planned?</h2>
            <h4>Many things are planned. For one, we plan on saving recipes directly to Pickle Jar instead of just links. From there, you should be able to create shopping lists and meal plans. You will also be able to have a "in the kitchen" view mode via the app making it easier to cook and follow the recipe. We want you to be able to add friends and follow people so you can see what everyone is saving and planning to cook. The list of planned features goes on and on but we also would like to hear what you would like to see in Pickle Jar. You can use the contact form below to offer suggestions.</h4>
          </div>
        </div>
      </div>

      <a class="left carousel-control" data-slide="prev" href="#faq-carousel" role="button">
        <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" data-slide="next" href="#faq-carousel" role="button">
        <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
</div>








<div class="slide" data-slide="4" data-stellar-background-ratio="0.5" id="slide4">

  <section class="home-section text-center" id="contact">
    <div class="heading-contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">

            <div class="section-heading">
              <h2>Get in touch</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50"/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="boxed-grey">






            <form accept-charset="UTF-8" action="/contact_forms" id="contact-form" method="post">
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token() %>"></input>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name">
                      Name
                    </label>
                    <input class="form-control" id="name" name="contact_form[name]" placeholder="Enter name" required="required" type="text">/</input>
                  </div>
                  <div class="form-group">
                    <label for="email">
                      Email Address
                    </label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                      </span>
                      <input class="form-control" id="email" name="contact_form[email]" placeholder="Enter email" required="required" type="email">/</input>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="subject">
                      Subject
                    </label>
                    <select class="form-control" id="subject" name="contact_form[subject]" required="required">
                      <option selected="selected" value="na">Choose One:</option>
                      <option value="General Customer Service">General Customer Service</option>
                      <option value="Suggestions">Suggestions</option>
                      <option value="Product">Product Support</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name">
                      Message
                    </label>
                    <textarea class="form-control" cols="25" id="message" name="contact_form[message]" placeholder="Message" required="required" rows="9"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <button class="btn btn-skin pull-right" id="btnContactUs" type="submit">
                    Send Message
                  </button>
                </div>
              </div>
            </form>









          </div>
        </div>
        <div class="col-lg-4">
          <div class="widget-contact">
            <address>
              <strong>Email</strong>
              <br/>
              <a href="mailto:contact@getpicklejar.com">contact@getpicklejar.com</a>
            </address>
            <address>
              <strong>We're on social networks</strong>
              <br/>
            </address>
            <ul class="company-social">
              <li class="social-facebook">
                <a href="http://www.facebook.com/getpicklejar" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="social-twitter">
                <a href="https://twitter.com/GetPickleJar" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="social-google">
                <a href="https://plus.google.com/100476973664338715255" rel="publisher" target="_blank">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->
